{% extends 'base.html.twig' %}

{% block title %}
	{{produit.nom}}
	Agri-fournitures
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{ produit.illustration }}" alt="{{ produit.nom }}" class="img-fluid">
		</div>

		<div class="col-md-7 my-auto">
			<h3>{{produit.nom}}</h3>
			<p>{{produit.soustitre}}</p>
			<span class="produit-page-price">{{ (produit.prix / 100) | number_format(2, ',', '.') }}
				€</span>
			<hr>
				<p>
                
                {{ produit.description }}
                </p>

                <a href="" class="btn btn-primary">Ajouter au panier</a>
			</div>

		</div>


	{% endblock %}
